{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font page-top mb-4">Your cart</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if cart_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Tour Info</th>
                                    <th scope="col"></th>
                                    <th scope="col" class="cart-field-name">Price of <br>Adult</th>
                                    <th scope="col" class="cart-field-name">People of <br>Adult</th>                                    
                                    <!--<th scope="col" class="cart-field-name">Price of <br>Child</th>
                                    <th scope="col" class="cart-field-name">People of <br>Child</th>-->
                                    <th scope="col" class="cart-field-name">Subtotal</th>
                                    <th scope="col" class="cart-field-name"></th>
                                </tr>
                            </thead>

                            {% for item in cart_items %}
                                <tr>
                                    <td class="py-3 w-25">
                                        <img class="img-fluid rounded cart-img" src="{{ item.tourprogram.image_url }}">
                                    </td>
                                    <td class="py-3 w-25">
                                        <p class="my-0"><strong>{{ item.tourprogram.name }}</strong></p>
                                        <p class="my-0"><strong>Date: </strong>{{ item.date }}</p>
                                        <p class="my-0 small text-muted">SKU: {{ item.tourprogram.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">{{ item.tourprogram.priceadult }} SEK</p>
                                    </td>
                                    <td class="py-3">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group w-75">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-ppl btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-ppl_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input type="number" class="form-control form-control-sm ppl_input" pattern="[0-9]*"
                                                        name="number_people_adult" value="{{ item.number_people_adult }}" min="1" max="{{ item.tourprogram.maximum }}"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_ppl_{{ item.item_id }}" required>
                                                    <div class="input-group-append">
                                                        <button class="increment-ppl btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-ppl_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>

                                                    <input type="hidden" name="select_departure_date" value="{{ item.date }}">
                                                    
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a>
                                        
                                    </td>
                                    <!--
                                    <td class="py-3">
                                        <p class="my-0">{{ item.tourprogram.pricechild }} SEK</p>
                                    </td>
                                    
                                    <td class="py-3">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group w-75">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-ppl-child btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-ppl-child_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm ppl-child_input" type="number"
                                                        name="number_people_child" value="{{ item.number_people_child }}" min="0" max="15"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_ppl-child_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-ppl-child btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-ppl-child_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a>
                                    </td>-->
                                    <td class="py-3">
                                        <p class="my-0">{{ item.tourprogram.priceadult | calc_subtotal:item.number_people_adult }} SEK</p>
                                    </td>
                                    
                                    <td class="py-3">
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-select_departure_date="{{ item.date }}"><span class="icon"><i class="fas fa-trash-alt"></i></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Cart Total: {{ total_adult|floatformat:2 }} SEK</strong></h6>
                                    <h4 class="mt-4"><strong>Grand Total: {{ grand_total|floatformat:2 }} SEK</strong></h4>
                                    
                                    {% if gift_event > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get an event gift by spending just <strong>{{ gift_event }} SEK</strong> more!
                                        </p>
                                    {% endif %}
                                    
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'tourprograms' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">See other tours</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your cart is empty.</p>
                    <a href="{% url 'tourprograms' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">See other tours</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
    // Update quantity on click
    $('.update-link').click(function(e) {      
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var date = $(this).data('select_departure_date');
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'select_departure_date': date};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% include 'tourprograms/includes/people_input_script.html' %}
{% endblock %}