{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 mt-5">
                <h1 class="display-5 logo-font text-white">
                    Have a wonderful experience in Northern Sweden
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'tourprograms' %}" class="see-our-tour-button btn btn-lg rounded-0 text-uppercase py-3">See our tours</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}  

{% block postloadjs %}
    <script type="text/javascript">
        /* Sample function that returns boolean in case the browser is Internet Explorer
            Source: https://jsfiddle.net/alvaroAV/svvz7tkn/ 
            */
        function isIE() {
            ua = navigator.userAgent;
            /* MSIE used to detect old browsers and Trident used to newer ones*/
            var is_ie = ua.indexOf("MSIE ") > -1 || ua.indexOf("Trident/") > -1;

            return is_ie;
        }
        /* Create an alert to show if the browser is IE or not */
        if (isIE()) {
            alert('Hi! You use Internet Explorer. We don\'t support Internet Explorer fully, we recommend other browsers.');            
        }
    </script>
{% endblock %}
