{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <h3 class="mb-0 page-top">{{ tourprogram.name }}</h3>
        <div class="row">
        
                    
            <div class="col-12 col-md-6 col-lg-6 offset-lg-1">
                <div class="image-container my-5">
                    {% if tourprogram.image %}
                        <a href="{{ tourprogram.image_url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ tourprogram.image_url }}" alt="{{ tourprogram.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ tourprogram.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="tourprogram-details-container mb-5 mt-md-5">
                    <h5 class="lead text-left font-weight-bold">Price </h5>
                    <p class="lead mb-0 text-left">Adult: {{ tourprogram.priceadult }} SEK</p>
                    <p class="lead mb-0 text-left child-event-old">Child: {{ tourprogram.pricechild }} SEK</p><p class="lead text-left font-weight-bold child-event"> <i class="far fa-hand-point-right"></i> free! (open event)</p>
                    {% if tourprogram.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'tourprograms' %}?category={{ tourprogram.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ tourprogram.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}                        
                    {% if tourprogram.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ tourprogram.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}

                    <form class="form" action="{% url 'add_to_cart' tourprogram.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                        <div class="col-12">
                            <p class="detail_item"><strong>Departure date:</strong></p>
                            <div class="form-group w-75">
                                <div class="input-group">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                <input class="form-control" id="id_select_departure_date" name="select_departure_date" type="text"  placeholder="MM/DD/YYYY" required>            
                                </div>
                            </div>
                        </div>        

                            <div class="col-12">
                                <p class="detail_item"><strong>Number of Adult:</strong></p>
                                <div class="form-group w-75">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-ppl btn btn-black rounded-0" 
                                                data-item_id="{{ tourprogram.id }}" id="decrement-ppl_{{ tourprogram.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                            <input class="form-control ppl_input" type="number"
                                            name="number_people_adult" value="1" min="1" max="{{ tourprogram.maximum }}"
                                            data-item_id="{{ tourprogram.id }}"
                                            id="id_ppl_{{ tourprogram.id }}" required>
                                        <div class="input-group-append">
                                            <button class="increment-ppl btn btn-black rounded-0"
                                                data-item_id="{{ tourprogram.id }}" id="increment-ppl_{{ tourprogram.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--
                            <div class="col-12">
                                <p class="mt-3"><strong>Number of Child:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-ppl-child btn btn-black rounded-0" 
                                                data-item_id="{{ tourprogram.id }}" id="decrement-ppl-child_{{ tourprogram.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control ppl-child_input" type="number"
                                            name="number_people_child" value="0" min="0" max="15"
                                            data-item_id="{{ tourprogram.id }}"
                                            id="id_ppl-child_{{ tourprogram.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-ppl-child btn btn-black rounded-0"
                                                data-item_id="{{ tourprogram.id }}" id="increment-ppl-child_{{ tourprogram.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            {% if tourprogram.maximum < 999 %}
                            <div class="col-12 note-group">
                                <p>More than {{ tourprogram.maximum }} people, please contact us. (Special offer for a group!)</p>
                                <a href="{% url 'contact' %}">Ask us!</a>
                            </div>
                            {% endif %}
                            <div class="col-12">
                                <a href="{% url 'tourprograms' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Back to list</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Cart">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                    
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-10 offset-lg-1">
                <div class="row">
                <div class="col-sm-6 col-md-3 text-center small-info" id="program_region">Region <p><strong>{{ tourprogram.region }}</strong></p></div>
                <div class="col-sm-6 col-md-3 text-center small-info" id="program_maximum">Maximum<p><strong>
                    {% if tourprogram.maximum == 999 %}
                        No limit
                    {% else %}
                        {{ tourprogram.maximum }}
                    {% endif %}</strong></p>
                </div>
                <div class="col-sm-6 col-md-3 text-center small-info" id="departure_date">Departure Date<p><strong>{{ tourprogram.departure_date }}</strong></p></div>
                <div class="col-sm-6 col-md-3 text-center small-info" id="est_time">Estimated Time<p><strong>{{ tourprogram.estimated_times }}</strong></p></div>
                </div>
                <div class="detail_item">Description
                    <p> - {{ tourprogram.description }}</p>
                </div>
                <div class="detail_item">Included
                    <p> - {{ tourprogram.included }}</p>
                </div>
                <div class="detail_item">Not included
                    <p> - {{ tourprogram.not_included }}</p>
                </div>
                <div class="detail_item">Meeting Place
                    <p> - {{ tourprogram.meeting_place }}</p>
                </div>
                <div class="detail_item">Note
                    <p> - {{ tourprogram.note }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'tourprograms/includes/people_input_script.html' %}
{% endblock %}