html {
    height: 100%;
}

body {
    background: url('/media/index_img_1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    
    font-family: 'Lato';
}

.page-top{
    margin: 3.5rem 0 0 1.25rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.list-inline-item:not(:last-child) {
    margin-right: 0;
}

#topnav, .navbar{
    background: #bee6c2;
}

.dropdown-menu{
    background: #dce8de;
}

#home-link{
    visibility: hidden;
}

.nav-item > .logo-font{
    text-transform: capitalize;
    font-size:1.125rem;
}

.nav-link > .logo-font > strong{
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.cart-info{
    color: #060057;
}

.see-our-tour-button {
    margin-top: 4rem;
    background: #00075c;
    color: white;
    min-width: 260px;
}

.small-info{
    background:#92d6f7;
    padding: 0.625rem 0;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: .5rem;
}

.detail_item{
    margin-bottom: .25rem;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.card > a > img{
    height: 12rem;
}

.image-container > a > img{
    height: 26rem;
}

.cart-img{
    height: 10.2rem;
}

.remove-item{
    font-size: 2rem;
}

.order-lg-last > a > img{
    height: 5.15rem;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.cart-field-name{
    font-size: 0.75rem;
}

.gift-notice {
    background:#045e19;
}

#contact-link{
    background:#ebaecf
}

.detail_item{
    font-weight: 600;
    font-size: 1.125rem;
}

.detail_item > p{
    font-weight: 400;
    font-size: 1rem;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.adult-price{
    font-size: 1.125rem;
}

.child-event-old{
    text-decoration:line-through;
    font-size: 0.875rem;
    
}

.child-event{
    color: red;
    text-transform: uppercase;
    font-size: 1rem;
}

.tourprogram-details-container > h5, .child-event{
    margin-bottom: 0.75rem;
}

.note-group{
    background:#ffffc9;   
}

.note-group > p{
    color: red;   
}

.note-group > a{
    font-weight: 600;
    color: #7429ff;
}

.cashfree-note{
    color: red;
    font-size: 0.8125rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- footer */
footer{
    background: #043540;
    padding-top: 2rem;
    color: white;
    text-align: center;
    margin-top: 3rem;
}

.footer-item > h6{
    font-size: 1.25rem;
    text-transform:capitalize;
}

.social-links{
    padding: 0;
}

.social-links > li {
    display: inline;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
}

.social-links a{
    color: #adf7ff;
    font-size: 2.25rem;
    text-align: center;
}

.contact-info, .visit-info{
    text-align: left;
    padding-left: 5rem;
}

.contact-info > span > i{
    text-align: center;
    padding: 0 0.5rem;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

@media (max-width: 1080px) {
    .image-container > a > img{
        height: 18rem;
    }
    .main-logo-link > .logo-font{
        font-size: 1.875rem;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 992.02px) {
    .contact-info, .visit-info{
        padding-left: 2rem;
    }
}

@media (max-width: 991.98px) {
    #home-link{
        visibility: visible;
        background:#93dbab
    }
    .image-container > a > img {
        height: auto;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
    .card > a > img{
        height: 15.5rem;
    }
    .cart-img{
        height: 8.2rem;
    }
}

@media (max-width: 767.98px) {
    .small-info{
        margin-bottom: 0;
    }
    .card > a > img{
        height: 11rem;
    }
    .contact-info, .visit-info{
        padding-left: 0rem;
        text-align: center;
    }
}
@media (max-width: 640.02px) {
    .cart_list{
        font-size: 0.75rem;
    }
    .cart-img {
        height: auto;
    }
}

@media (max-width: 575.98px) {
    .card > a > img{
        height: auto;
    }
}
@media (max-width: 350.02px) {
    .navbar > .list-inline-item > a{
        font-size: 0.8125rem;
    }
    .remove-item{
        font-size: 1.25rem;
    }
    .table-sm td, .table-sm th {
        padding: .2rem;
    }
    .order-number{
        word-wrap: break-word;
    }
}