<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-tours-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Tours
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-tours-link">
                <a href="{% url 'tourprograms' %}?sort=priceadult&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'tourprograms' %}?sort=category&direction=asc" class="dropdown-item">By Season</a>
                <a href="{% url 'tourprograms' %}?sort=region&direction=asc" class="dropdown-item">By Region</a>
                <a href="{% url 'tourprograms' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'tourprograms' %}" class="dropdown-item">All Tours</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="summer-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Summer Tours
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="summer-link">
                <a href="{% url 'tourprograms' %}?category=summer_tracking" class="dropdown-item">Tracking</a>
                <a href="{% url 'tourprograms' %}?category=summer_attraction" class="dropdown-item">Attraction</a>
                <a href="{% url 'tourprograms' %}?category=summer_sightseeing" class="dropdown-item">Sightseeing</a>
                <a href="{% url 'tourprograms' %}?category=summer_tracking,summer_attraction,summer_sightseeing" class="dropdown-item">All Summer Tours</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="winter-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Winter tours
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="winter-link">
                <a href="{% url 'tourprograms' %}?category=Winter_aurora" class="dropdown-item">Aurora tour</a>
                <a href="{% url 'tourprograms' %}?category=Winter_attraction" class="dropdown-item">Attraction</a>
                <a href="{% url 'tourprograms' %}?category=winter_sightseeing" class="dropdown-item">Sightseeing</a>
                <a href="{% url 'tourprograms' %}?category=winter_wildanimal" class="dropdown-item">With Wild Animal</a>
                <a href="{% url 'tourprograms' %}?category=Winter_aurora,Winter_attraction,winter_sightseeing,winter_wildanimal" class="dropdown-item">All Winter Tours</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'tourprograms' %}?category=wilderness_meal" class="dropdown-item">Wilderness Meal</a>                
            </div>
        </li>
    </ul>
</div>